services:
  postgres:
    image: postgres:16
    container_name: jooq-postgres
    environment:
      POSTGRES_DB: demo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata_jooq_demo:/var/lib/postgresql/data

volumes:
  pgdata_jooq_demo:
